@charset "UTF-8";

body{
  background-color: cyan;
}

.breadcrumbs li{
  display: inline;
  list-style-type: none;
}

.breadcrumbs li:defore{
  content: " > ";
}

.breadcrumbs li:first-child:before{
  content:"";
}
